= simple_form_for @visitor, defaults: { input_html: { class: 'form-control' } } do |f|
	- if @visitor.errors.any?
		#error_explanation
			%h2= "#{pluralize(@visitor.errors.count, "error")} prohibited this visitor from being saved:"
			%ul
				- @visitor.errors.full_messages.each do |msg|
					%li= msg
	
	= f.input :name, required: true
	%br/
	= f.input :phone_number
	%br/
	= f.association :type
	%br
	= f.button :submit, class: "btn btn-primary save-submit", id:"form_save"

.pay
	%h1
		Pay:
		%span.price 100		