Visitors:
%span.fa.fa-users
  = @c_visitors
%table.table.table-bordered.table-small-font
  %thead
    %tr
      %th Time
      %th End Time
      %th Name
      %th Type
      %th Color
      %th Phone      
      %th Actions

  %tbody.row
    - @visitors.each do |visitor|
      %tr{data:{color:visitor.type.id}}
        %td= visitor.time.strftime("%H:%M")
        %td= check_time(visitor)
        %td= visitor.name
        %td= visitor.type.name
        %td= color_of_type(visitor.type)
        %td= visitor.phone_number        
        %td
          -if current_user.admin?
            = link_to '', edit_visitor_path(visitor), class: "fa fa-pencil" 
          %span{style:"float:rigth"}
            = link_to ' ', visitor, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "fa fa-archive"