= simple_form_for '', html: {method: :get, id: :search_form }, defaults: { input_html: { class: 'form-control'} } do |f|  
  = f.input_field :search, required:false, placeholder: "Search .... "
  %span.right
    = f.submit "search", class: "btn btn-danger"

      
%h1 Visitors
%p
  Select color:
  %ul
    - @types.each do |type|
      .smallbox= color_of_type(type)

%span.right.fa.fa-download.download
  = link_to 'Export to Excel', visitors_path(format: :csv)

#visitors
  =render 'visitors'

%span.fa.fa-user-plus
  = link_to 'New Visitor', new_visitor_path