%p#notice= notice

%p
  %b Time:
  = @visitor.time
%p
  %b Name:
  = @visitor.name
%p
  = @visitor.type.name
%p
  %b User:
  = @visitor.user.email


= link_to 'Edit', edit_visitor_path(@visitor)
\|
= link_to 'Back', visitors_path
