= simple_form_for @type, defaults: { input_html: { class: 'form-control' } } do |f|
  = f.error_notification
  
  = f.input :name, required: true
  %br
  = f.input :time, input_html: { min: '1', step: 'any' }, required: true
  %br
  = f.input :color, as: :minicolors, input_html: {data: {minicolors: {theme: :bootstrap, position: :bottom_left}}}, required: true
  %br
  = f.input :price, placeholder: "test", input_html: { min: '1', step: 'any' }, required: true
  %br
  = f.button :submit, class: 'btn-success submit-btn'
