%h1 Listing types

%table.table
  %thead
    %tr
      %th Time
      %th Color
      %th Price
      %th Name
      %th
      %th

  %tbody
    - @types.each do |type|
      %tr
        %td= type.time
        %td= colororized(type.color)
        %td= type.price
        %td= type.name
        %td= link_to ' ', edit_type_path(type), class: "fa fa-pencil"
        %td= link_to ' ', type, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "fa fa-trash-o"

%br
%i.fa.fa-plus-circle
= link_to 'New Type', new_type_path
