%p#notice= notice

%p
  %b Time:
  = @type.time
%p
  %b Color:
  = @type.color
%p
  %b Price:
  = @type.price
%p
  %b Name:
  = @type.name

= link_to 'Edit', edit_type_path(@type)
\|
= link_to 'Back', types_path
