= simple_form_for @user, defaults: { input_html: { class: 'form-control' } } do |f|
	- if @user.errors.any?
		#error_explanation
			%h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
			%ul
				- @user.errors.full_messages.each do |msg|
					%li= msg

	= f.input :name, required: true
	= f.input :email, required: true
	= f.input :password, required: true
	= f.association :role, collection: Role.where("id > 1"), include_blank: false
	%br
	= f.button :submit, class: "save-submit", id:"form_save"