%table.table.table-bordered
  %thead
    %tr
      %th Имя
      %th E-mail
      %th Роль
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role.name
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
