.col-md-6.col-md-offset-3
  %h1 Listing visitors

  =render 'users'

  = link_to 'New user', new_user_path

  - if current_user
    - if current_user.admin? || current_user.moderator?(:roles)
      = link_to 'TheRole Manage Panel',  admin_roles_path
    - if current_user.admin?
      = link_to 'Types', types_path
