%table.table.table-bordered
  %thead
    %tr
      %th Имя
      %th E-mail
      %th Роль
      %th
      %th
      %th

  %tbody
    - @personals.each do |persone|
      %tr
        %td= persone.name
        %td= persone.email
        %td= persone.role.name
        %td= link_to 'Show', persone
        %td= link_to 'Edit', edit_persone_path(persone)
        %td= link_to 'Delete', persone, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
