%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th E-mail
      %th Type
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.role.name        
        %td= link_to ' ', edit_personal_path(user), class: "fa fa-pencil"
        %td= link_to ' ', personal_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "fa fa-trash-o"
%br
