%h1 New personal item

= simple_form_for @personal, url: personals_path, defaults: { input_html: { class: 'form-control' } } do |f|
	- if @personal.errors.any?
		#error_explanation
			%h2= "#{pluralize(@personal.errors.count, "error")} prohibited this personal from being saved:"
			%ul
				- @personal.errors.full_messages.each do |msg|
					%li= msg

	= f.input :name, required: true
	= f.input :email, required: true
	= f.input :password, required: true
	= f.association :role, collection: Role.where("id > 1"), include_blank: false
	%br
	= f.button :submit, class: "btn btn-primary save-submit", id:"form_save"

= link_to 'Back', visitors_path
