.col-lg-offset-4
  %h2 Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
    .form-actions
      %br
        = f.button :submit, "Log in", class: "btn btn-primary"	