%table.table.table-bordered
  %thead
    %tr
      %th Start time
      %th End time
      %th Name
      %th Type
      %th Phone number
      %th Administrator name
      %th Administrator email
  %tbody
    - @visitors.each do |visitor|
      %tr
        %td= visitor.time.strftime("%H:%M")
        %td= visitor.end_time.strftime("%H:%M")
        %td= visitor.name
        %td= visitor.type.name
        %td= visitor.phone_number
        %td= visitor.user.name
        %td= visitor.user.email
%br
  = link_to "Back", archives_index_path
