%b Date 
%br #{@date.strftime("%d-%m-%Y")	 }
%h1 Listing visitors
%ifa.fa-credit-card
  Sum: 
  %b #{@c}
%span.right.fa.fa-download.download
  = link_to 'Export to Excel', archives_path(format: :csv)	

=render 'visitors'
