.col-lg-8.col-lg-offset-2
	#calendar
		%h2#month
			= link_to "<", month: (@date.beginning_of_month-1).strftime("%Y-%m-01")
			= h @date.strftime("%B %Y")
			= link_to ">", month: (@date.end_of_month+1).strftime("%Y-%m-01")	  
		= calendar_for(@visitors, year: @date.year, month: @date.month, week_start: :monday) do |calendar|
			= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
			= calendar.day(day_method: :created_at) do |day, visitors|
				.day= link_to day.day, archives_path(day) 