// Place all the styles related to the tipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-btn{
	margin-top: 10px;	
	margin-bottom: 10px !important;
}
