// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.color-box{
	width: 100%; height: 20px;
	display: block;
	margin: 1px !important;
	padding: 1px !important;
}

.smallbox{
	width:50px; height:50px;
	display: inline-block;
}
.day{
  color:#f00;
}

.pay{
  display: none;
  .done{
    font-size: 18px;
    color: red;
  }
}