!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title CoworkingSystem
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true    
    = csrf_meta_tags    
  %body
    -if current_user
      = render "layouts/navigation"
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
      = yield
        